<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<a href="/find-location?s={{ model.scenario }}" class="link-back">Back</a>

{{#if trace }}
<p class="font-xsmall">{{ json model }}<p>
{{/if }}

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Flood risk
				<span class="heading-secondary">
					{{ model.location }}
				</span>
			</h1>
			
		</div>

	</div>

	<div class="grid-row">
		
		<div class="column-full">

			<div class="js-tabs nav-tabs">
				<ul>
					<li><a href="#today">Today</a></li>
					<li><a href="#outlook">Outlook</a></li>
				</ul>
			</div>

		</div>

	</div>

	<div class="grid-row">

		<div class="js-tab-content tab-content">
			
			<div class="js-tab-pane tab-pane" id="today">
			
				<div class="column-half column-warning-list">

					<div class="risk-summary">
						{{#if model.hasAlertOrWarning }}
						<ul class="list-warning">
							<li class="list-warning-section">
								<img src="/public/icon-flood-warning-severe-2x.gif" alt="" />
								<strong class="bold-small">1 Severe flood warning</strong><br/>Danger to life
							</li>
							<li class="list-warning-section">
								<img src="/public/icon-flood-warning-2x.gif" alt="" />
								<strong class="bold-small">3 Flood warnings</strong><br/>Immedate action required
								<ul class="list-warning-items">
									<li class="list-warning-item">
										<a href="">River Kennet and its tributaries from Berwick Bassett down to Newbury</a>
									</li>
									<li class="list-warning-item">
										<a href="">River Lambourn and its tributaries from Upper Lambourn down to Newbury</a>
									</li>
									<li class="list-warning-item">
										<a href="">Coast at North Morecambe Bay</a>
									</li>
								</ul>
							</li>
							<li class="list-warning-section">
								<img src="/public/icon-flood-alert-2x.gif" alt="" />
								<strong class="bold-small">12 Flood alerts</strong><br/>Be prepared
							</li>
						</ul>
						{{else }}
						<h2 class="heading-small" style="margin-top:0">Summary</h2>
						<p>No food warnings or alerts are in force nearby. Local river levels are within typical range.</p>
						{{/if }}
					</div>

				</div>

				<div class="column-half column-warning-map">

					<figure class="map" id="map">
						<div class="map-container map-container-large">
							<div class="map-container-inner" id="map-container-inner">
								<div class="map-key">
									<div class="map-key-content">
										<div class="map-key-heading">
											<h2 class="bold-medium">Key</h2>
										</div>
										<div class="map-key-features">
											<ul class="key-features-section">
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="map-view" name="view-type" type="radio" value="map-view" checked>
														<label for="map-view">
															Map view
														</label>
													</div>
												</li>
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="satellite-view" name="view-type" type="radio" value="satellite-view">
														<label for="satellite-view">
															Satellite view
														</label>
													</div>
												</li>
											</ul>
											<ul class="key-features-section">
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="flood-zones" name="flood-zones" type="checkbox" value="flood-zones" checked="">
														<label for="flood-zones">Flood warnings and alerts</label>
													</div>
													<ul class="key-features-item-group">
														<li>
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-flood-warning">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<rect x="0" y="0" width="100%" height="100%" fill="#e3000f"></rect>
																	</svg>
																</span>
																Warning or severe warning
															</span>
														</li>
														<li>
															<span class="key-features-item-label">                            
																<span class="key-symbol key-symbol-flood-alert">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<rect x="0" y="0" width="100%" height="100%" fill="#f18700"></rect>
																	</svg>
																</span>
																Alert
															</span>
														</li>
														<li>
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-flood-warning-removed">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<rect x="0" y="0" width="100%" height="100%" fill="#6f777b"></rect>
																	</svg>
																</span>
																Warning no longer in force
															</span>
														</li>
													</ul>
												</li>
											</ul>
											<ul class="key-features-section">
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="river-levels" name="river-levels" type="checkbox" value="river-levels" checked="">
														<label for="river-levels">River levels</label>
													</div>
													<ul class="key-features-item-group">
														<li>
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-portrait key-symbol-river-level-typical">
																	<svg width="100%" height="100%" viewBox="0 0 21 28" xmlns="http://www.w3.org/2000/svg">
																		<path d="M51.5,25.75 L51.4999489,25.75 C51.5314641,38.7189161 36.9799294,60.467041 25.75,70.2009277 C14.5200195,60.467041 -0.0315152421,38.7189161 1.03808292e-15,25.75 C1.03808292e-15,11.5286677 11.5286677,0 25.75,0 C39.9713323,0 51.5,11.5286677 51.5,25.75 Z M25.75,44.5 C36.1053391,44.5 44.5,36.1053391 44.5,25.75 C44.5,15.3946609 36.1053391,7 25.75,7 C15.3946609,7 7,15.3946609 7,25.75 C7,36.1053391 15.3946609,44.5 25.75,44.5 Z" fill="#006435" stroke="none" transform="scale(0.4)"/>
																	</svg>
																</span>
																Within typical range
															</span>
														</li>
														<li>
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-portrait key-symbol-river-level-above">
																	<svg width="100%" height="100%" viewBox="0 0 21 28" xmlns="http://www.w3.org/2000/svg">
																		<path d="M51.5,25.75 L51.4999489,25.75 C51.5314641,38.7189161 36.9799294,60.467041 25.75,70.2009277 C14.5200195,60.467041 -0.0315152421,38.7189161 1.03808292e-15,25.75 C1.03808292e-15,11.5286677 11.5286677,0 25.75,0 C39.9713323,0 51.5,11.5286677 51.5,25.75 Z M25.75,44.5 C36.1053391,44.5 44.5,36.1053391 44.5,25.75 C44.5,15.3946609 36.1053391,7 25.75,7 C15.3946609,7 7,15.3946609 7,25.75 C7,36.1053391 15.3946609,44.5 25.75,44.5 Z" fill="#B10E1E" stroke="none" transform="scale(0.4)"/>
																	</svg>
																</span>
																Above typical range
															</span>
														</li>
														<li>
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-portrait key-symbol-river-level-unavailable">
																	<svg width="100%" height="100%" viewBox="0 0 21 28" xmlns="http://www.w3.org/2000/svg">
																		<path d="M51.5,25.75 L51.4999489,25.75 C51.5314641,38.7189161 36.9799294,60.467041 25.75,70.2009277 C14.5200195,60.467041 -0.0315152421,38.7189161 1.03808292e-15,25.75 C1.03808292e-15,11.5286677 11.5286677,0 25.75,0 C39.9713323,0 51.5,11.5286677 51.5,25.75 Z M25.75,44.5 C36.1053391,44.5 44.5,36.1053391 44.5,25.75 C44.5,15.3946609 36.1053391,7 25.75,7 C15.3946609,7 7,15.3946609 7,25.75 C7,36.1053391 15.3946609,44.5 25.75,44.5 Z" fill="#6F777B" stroke="none" transform="scale(0.4)"/>
																	</svg>
																</span>
																Unavailable
															</span>
														</li>											
													</ul>
												</li>
											</ul>
										</div>
										<div class="map-key-copyright">© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors</div>
									</div>
								</div>
							</div>
						</div>
						<figcaption class="visuallyhidden">Site boundary</figcaption>
					</figure>

				</div>

			</div>
			
			<div class="js-tab-pane tab-pane" id="outlook">
			
				<div class="column-two-thirds">

					<p>Outlook</p>

				</div>

				<div class="column-one-third">

					<h2 class="heading-small" style="margin-top:0">Outlook 19th to 23rd</h2>
					<p>Localised fooding possible in the north of England.</p>

				</div>

			</div>
		
		</div>

	</div>

</main>

{{#section 'bodyScripts' }}
<!-- Add before closing body tag -->
<script src="/public/javascripts/jquery-ui.js"></script>
<script src="/public/javascripts/jquery.history.js"></script>
<script src="/public/javascripts/jquery.tabs.js"></script>
<script src="/public/javascripts/ol-v4.6.5.js"></script>
<script src="/public/javascripts/map.js"></script>

<script type="text/javascript">
	
	$(function() {
	  $('main').tabs()
	})

	Map.init({
		lonLat: JSON.parse('[' + {{{ json model.lonLat }}} + ']'),
		zoom: 10,
		hasLocator: false,
		hasKey: true,
		hasSearch: false,
		targetAreasJSON: '/public/data/target-areas.json',
		riverLevelsJSON: '/public/data/river-levels.json',
		targetAreaStates: {{{ json model.targetAreaStates }}},
		riverLevelStates: {{{ json model.riverLevelStates }}}
	})

</script>
<!-- end before closing body tag -->
{{/section }}