.banner {
    background-color:$panel-colour;
}
.banner-wrapper {
    max-width: 990px;
    margin: 0 auto;
    padding:30px 0;
    @include media(tablet) {
        padding-left:15px;
        padding-right:15px;    
    }
}
.banner-content {
    padding-left:15px;
    padding-right:15px;
}