{{> guide/betaBanner }}

<main class="guide">
	
	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/">Home</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
			<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
		</ol>
	</div>
	-->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="pub-c-title pub-c-title--bottom-margin">
				<h1 class="pub-c-title__text">
					What to do in a flood  					
				</h1>
			</div>

			<aside class="part-navigation-container" role="complementary">
				<nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
					<ol class="column-half">
						<li>
							Flood warnings
						</li>
						<li>
							<a href="/what-to-do-in-a-flood/getting-a-flood-alert">What to do if you get a flood alert</a>
						</li>
					</ol>
					<ol class="column-half" start="3">
						<li>
							<a href="/what-to-do-in-a-flood/getting-a-flood-warning">What to do if you get a flood warning</a>
						</li>
						<li>
							<a href="/what-to-do-in-a-flood/getting-a-severe-flood-warning">What to do if you get a severe flood warning</a>
						</li>
					</ol>
				</nav>
			</aside>

		</div>
		
		<div class="column-two-thirds">
			
			<h1 class="part-title">1. Flood warnings</h1>
			
			<h2 class="heading-small">What the flood warnings mean</h2>
			<p>We issue 3 levels of flood warning:</p>
			<h3 class="heading-small">Flood alert - Prepare</h3>
			<img src="/public/icon-flood-alert-2x.gif" alt="Image of flood alert symbol" width="138" height="129"/>
			<ul class="list list-bullet">
				<li>prepare a bag that includes medicines and insurance documents</li>
				<li>check flood warnings</li>
			</ul>
			<h3 class="heading-small">Flood warning - Act</h3>
			<img src="/public/icon-flood-warning-2x.gif" alt="Image of flood warning symbol" width="138" height="129"/>
			<ul class="list list-bullet">
				<li>turn off gas, water and electricity</li>
				<li>move things upstairs or to safety</li>
				<li>move family, pets and car to safety</li>
			</ul>
			<h3 class="heading-small">Severe flood warning - Survive</h3>
			<img src="/public/icon-flood-warning-severe-2x.gif" alt="Image of severe flood warning symbol" width="138" height="129"/>
			<ul class="list list-bullet">
				<li>call 999 if in immediate danger</li>
				<li>follow advice from emergency services</li>
				<li>keep yourself and your family safe</li>
			</ul>
			<p><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/681596/flood_warnings.pdf">Save a copy of this simple flood plan</a> so you’ll know what to do when there’s a flood warning in your area.</p>
			<p><a href="https://flood-warning-information.service.gov.uk/warnings">View current warnings and advice specific to your area</a>.</p>
			<p>All floods are different and you should take advice from the emergency services and your local authority if you’re in a flood.</p>
			<nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
				<ul class="pub-c-pagination__list">
					<li class="pub-c-pagination__item pub-c-pagination__item--next">
						<a href="/what-to-do-in-a-flood/getting-a-flood-alert" class="pub-c-pagination__link" rel="next">
						<span class="pub-c-pagination__link-title">
							Next
							<svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
								<path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
							</svg>
						</span>
							<span class="visually-hidden">:</span>
							<span class="pub-c-pagination__link-label">What to do if you get a flood alert</span>
						</a>
					</li>
				</ul>
			</nav>

		</div> 
		
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2 class="heading-small">Related content</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/plan-ahead-for-flooding">How to plan ahead for flooding</a></li>
							<li><a href="/recovering-after-a-flood">How to recover after a flood</a></li>
							<li><a href="/what-happens-after-a-flood">What happens after a flood</a></li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>

	</div>

</main>

{{> guide/feedbackAction }}
