.feedback-inline {
    position:relative;
}
.feedback-inline:last-child {
    margin-bottom:1.5em;
    @include media(tablet) {
        margin-bottom:0;
    }
}
.feedback-inline-form {
    @include media(tablet) {
        position:absolute;
        width:50%;
        top:0;
        left:100%;
        margin-left:30px;
        padding:0;
    }
}
.feedback-inline .feedback-inline-copy {
    @include media(tablet) {
        display:block;
    }
}
.feedback-inline p {
    @include media(tablet) {
        margin-top:0;
    }
}
.feedback-inline .button-text-small {
    margin-left:0.4em;
    @include media(tablet) {
        margin-top:0.2em;
        margin-left:0;
        margin-right:0.4em;
    }
}