{{> guide/betaBanner }}

<main>
	
	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/">Home</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
			<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
		</ol>
	</div>
	-->

	<div class="grid-row">
	
		<div class="column-two-thirds">

			<div class="pub-c-title pub-c-title--bottom-margin">
				<h1 class="pub-c-title__text">
					What to do before a flood  					
				</h1>
			</div>

		</div>

		<div class="column-two-thirds">	

				
			<p>Find out if you’re at risk of flooding and plan what you’ll do.</p>
			
			<h2 class="heading-medium">Find out if you’re at risk</h2>
			<p><a target="_blank" data-journey-click="PRR:Prepare:See if you’re in an area at risk from flooding" href="https://flood-warning-information.service.gov.uk/long-term-flood-risk">See if you’re in an area at risk from flooding</a></p>
			
			<h2 class="heading-medium">Sign up for flood warnings</h2>
			<p>In most flood risk areas, you can <a target="_blank" data-journey-click="PRR:Prepare:sign up for flood warnings" href="https://www.gov.uk/sign-up-for-flood-warnings"> sign up for flood warnings</a>. You’ll be alerted by phone, email or text when floods are expected. Flood warnings and alerts are not available in all areas.

                        <p>You can also get in touch with your local flood warden if you have one. A flood warden is a volunteer who monitors a specific local area and informs its residents when flooding is likely. Flood wardens may be recruited by local authorities or your Neighbourhood Watch.</p>


			<h2 class="heading-medium">Make a flood plan</h2>
			<p>You can use templates to make a flood plan for:</p>
			<ul class="list list-bullet">
				<li><a target="_blank" data-journey-click="PRR:Prepare:your_household" href="https://www.gov.uk/government/publications/personal-flood-plan">your household</a></li>
				<li><a target="_blank" data-journey-click="PRR:Prepare:your_local_community_or_group" href="https://www.gov.uk/government/publications/flood-plan-guidance-for-communities-and-groups">your local community or group</a></li>
				<li><a target="_blank" data-journey-click="PRR:Prepare:your_business" href="https://www.gov.uk/government/publications/flood-plan-guidance-for-communities-and-groups">your business</a></li>
			</ul>
			<p>The templates help you: </p>
			<ul class="list list-bullet">
				<li>bring together the information you’ll need</li>	
				<li>give you a checklist of what to do in a flood</li>	
				<li>make up an emergency flood kit</li>				
			</ul>
			
			<h2 class="heading-medium">Protect your property</h2>
			<p>There are devices that help stop water entering your property like sandbags, flood boards, non-return valves and air brick covers. There are also ways to limit the damage if water gets into your property, like fitting solid floors and raising the level of power sockets. </p>
			<p>For more information on advance measures, get the National Flood Forum’s property protection guides for <a target="_blank" data-journey-click="PRR:Prepare:property_owners" href="http://www.smartfloodprotection.com/wp-content/uploads/dlm_uploads/2014/09/property_owners_guidance_revised.pdf">property owners</a> or for <a target="_blank" data-journey-click="PRR:Prepare:local_authorities_and_professionals" href="http://www.smartfloodprotection.com/wp-content/uploads/dlm_uploads/2014/02/Six-Steps-LA-Professional-web-v3-July2014.pdf">local authorities and professionals</a>.</p>
			<p>Simple maintenance like keeping drains and gullies clear of debris will also help protect your property.</p>
			<h3 class="heading-small">If you live near a watercourse</h3>
			<p>There is specific guidance If you own property or live:</p>
			<ul class="list list-bullet">
				<li><a target="_blank" data-journey-click="PRR:Prepare:beside_a_river" href="https://www.gov.uk/government/publications/riverside-ownership-rights-and-responsibilities">beside a river</a></li>
				<li><a target="_blank" data-journey-click="PRR:Prepare:next_to_a_canal" href="https://canalrivertrust.org.uk/contact-us/contacting-our-offices">next to a canal</a></li>
			</ul>
			
			<h2 class="heading-medium">Know how to turn off your gas, electricity and water</h2>
			<p>If you leave your home during a flood you’ll need to turn off your mains water, gas and electricity if it’s safe to do so. You should work out in advance how to do this.</p>
			<p>The location of water stopcocks, gas shut-off valves and electrical master switches varies between properties. The gas shut-off valve is usually beside the meter. The mains electricity cut-off is usually a big red switch on your fusebox. If you can’t find your water stopcock, ask someone with practical experience or a plumber to help you. </P>

			<h2 class="heading-medium">Find out where you’ll get help </h2>
			<p>Areas that are prone to flooding may already have flood groups and community hubs where you can find food, clothing, shelter and advice during a flood. <p>
			<p>Call the The National Flood Forum on 01299 403 055 to find out if there’s one near you. You can also try searching for local flood groups on social media.</P

			<h2 class="heading-medium">Check your insurance</h2>
			<p>Make sure your household insurance covers you for flooding. If you live in rental property, make sure your landlord’s insurance covers your possessions.</p>
			<p>If you’re in a high-risk area you may be eligible for affordable insurance from <a target="_blank" data-journey-click="PRR:Prepare:Flood_re" href="https://www.floodre.co.uk">Flood Re</a>.</p>

			<h2 class="heading-medium">Take ‘before’ pictures</h2>
			<p>Take detailed photos of your property and contents now. They will help you prove that any flood damage was not there before.</p>

			<h2 class="heading-medium">Keep weather, water level and flood websites handy</h2>
			<p>You can bookmark websites you may later use to monitor:</P>
			<ul class="list list-bullet">
				<li><a target="_blank" data-journey-click="PRR:Prepare:the weather" href="https://www.metoffice.gov.uk/">the weather</a></li>
				<li><a target="_blank" data-journey-click="PRR:Prepare:flood warnings" href="https://flood-warning-information.service.gov.uk/warnings">flood warnings</a></li>
				<li><a target="_blank" data-journey-click="PRR:Prepare:local river and sea levels" href="https://flood-warning-information.service.gov.uk/river-and-sea-levels">local river and sea levels</a></li>
				
			</ul>

	
			<h2 class="heading-medium">Think about vulnerable family and neighbours, and pets</h2>
			<p>Your <a target="_blank" data-journey-click="PRR:Prepare:flood_plan" href="https://www.gov.uk/government/publications/personal-flood-plan">flood plan</a> should include what you’ll do for those who need additional help, and an evacuation plan for pets.</p>

			
			
		</div> 

		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2 class="heading-small">Related content</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/responding-to-a-flood">What to do during a flood</a></li>
							<li><a href="/recovering-from-a-flood">How to recover after a flood</a></li>
							<li><a href="/what-happens-after-a-flood">What happens after a flood</a></li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>

	</div>

</main>

{{> guide/feedbackAction }}
