<main>
	
	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="">Back</a></li>
		</ol>
	</div>
	-->	

	<div class="grid-row">
	
		<div class="column-two-thirds">

			<div class="pub-c-title pub-c-title--bottom-margin">
				<h1 class="heading-xlarge">
					Privacy policy			
				</h1>
			</div>

		</div>

		<div class="column-two-thirds">	
				
			<p>The <a href="/government/organisations/government-digital-service">Government Digital Service (<abbr title="Government Digital Service">GDS</abbr>)</a> collects certain information or data about you when you use GOV.UK.</p>

			<p>We collect:</p>

			<ul class="list list-bullet">
				<li>questions, queries or feedback you leave, including your email address if you contact GOV.UK</li>
				<li>your email address and subscription preferences when you sign up to our email alerts, and how you use our emails - for example whether you open them and which links you click on</li>
				<li>your Internet Protocol (<abbr title="Internet Protocol">IP</abbr>) address, and details of which version of <a href="/support/browsers">web browser</a> you used</li>
				<li>information on how you use the site, using <a href="/support/cookies">cookies</a> and page tagging techniques</li>
			</ul>
			<p>This data can be viewed by authorised people in <abbr title="Government Digital Service">GDS</abbr>, supplier organisations, other government departments, agencies and public bodies, to:</p>
			<ul class="list list-bullet">
				<li>improve the site by monitoring how you use it</li>
				<li>gather feedback to improve our services, for example our email alerts</li>
				<li>respond to any feedback you send us, if you’ve asked us to</li>
				<li>send email alerts to users who request them</li>
				<li>allow you to access government services and make transactions</li>
				<li>provide you with information about local services if you want it</li>
			</ul>

			<h2 class="heading-medium" id="where-your-data-is-stored">Where your data is stored</h2>
			<p>We store your data on secure servers in the <a href="/eu-eea">European Economic Area</a> (<abbr title="European Economic Area">EEA</abbr>).</p>
			
			<h2 class="heading-medium" id="keeping-your-data-secure">Keeping your data secure</h2>
			<p>Sending information over the internet is generally not completely secure, and we can’t guarantee the security of your data while it’s in transit.</p>
			<div class="notice notice-privacy" role="note" aria-label="Help">
				<i class="icon icon-important">
					<span class="visually-hidden">Warning</span>
				</i>
				<strong class="bold-small">
						Any data you send is at your own risk.
				</strong>
			</div>
			<p>We have procedures and security features in place to keep your data secure once we receive it.</p>
			
			<h2 class="heading-medium" id="disclosing-your-information">Disclosing your information</h2>
			<p>We may pass on your personal information if we have a legal obligation to do so, or if we have to enforce or apply our <a href="/help/terms-conditions">terms of use</a> and other agreements. This includes exchanging information with other government departments for legal reasons.</p>
			<p>We won’t share your information with any other organisations for marketing, market research or commercial purposes, and we don’t pass on your details to other websites.</p>
			
			<h2 class="heading-medium" id="your-rights">Your rights</h2>
			<p>You can <a href="/data-protection">find out what information we hold about you</a>, and <a href="/contact">ask us</a> not to use any of the information we collect.</p>
			<p>If you’ve signed up for email alerts, you can unsubscribe or change your settings at any time by selecting the ‘unsubscribe’ link that appears in every email.</p>
			
			<h2 class="heading-medium" id="links-to-other-websites">Links to other websites</h2>
			<p>GOV.UK contains links to other websites.</p>
			<p>This privacy policy only applies to GOV.UK, and doesn’t cover other government services and transactions that we link to. These services, such as <a href="/government/publications/introducing-govuk-verify">GOV.UK Verify</a>, have their own terms and conditions and privacy policies.</p>
			<h3 class="heading-small" id="following-a-link-to-another-website">Following a link to another website</h3>
			<p>If you go to another website from this one, read the privacy policy on that website to find out what it does with your information.</p>
			<h3 class="heading-small" id="following-a-link-to-govuk-from-another-website">Following a link to GOV.UK from another website</h3>
			<p>If you come to GOV.UK from another website, we may receive information from the other website. We don’t use this data. You should read the privacy policy of the website you came from to find out more about this.</p>

		</div> 
		
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2 class="heading-small">Related content</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/cookies">Cookies</a></li>
							<li><a href="/terms-conditions">Terms and conditions</a></li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>

	</div>

</main>