<main>
	
	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="">Back</a></li>
		</ol>
	</div>
	-->	

	<div class="grid-row">
	
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Your phone number has been automatically opted-in to receive flood warnings		
			</h1>
			
			<p class="lede">In England, the Environment Agency sends flood warnings to phone numbers registered in areas at risk of flooding from rivers or the sea. The service is anonymous and free.</p>
			
			<h2 class="heading-medium">Why did we send you this message?</h2>
			<p>We have a <a href="https://www.gov.uk/guidance/preparation-and-planning-for-emergencies-responsibilities-of-responder-agencies-and-others">legal duty</a> to warn people who may be at risk of flooding so they can take action to protect themselves, their family and property.</p>
			<p>This phone number was automatically added to the list of numbers to which we send flood warnings. This is because it was registered in an area that’s at risk of flooding in the future and that may have flooded in the past. </p>

			<h2 class="heading-medium">How did we get your number?</h2>
			<p>We tell phone companies about areas at risk of flooding. They send us a list of the phone numbers registered in those areas. </p>
			<p>They do not give us the names or addresses associated with those numbers. We store the numbers securely, in line with our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a>.</p>
					
		</div> 

	</div>

</main>