<main>
	
	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="">Back</a></li>
		</ol>
	</div>
	-->	

	<div class="grid-row">
	
		<div class="column-two-thirds">

			<div class="pub-c-title pub-c-title--bottom-margin">
				<h1 class="pub-c-title__text">
					Terms and conditions			
				</h1>
			</div>

		</div>

		<div class="column-two-thirds">	
				
			<p>Text</p>
			
		</div> 
		
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2 class="heading-small">Related content</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/cookies">Cookies</a></li>
							<li><a href="/privacy-policy">Privacy policy</a></li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>

	</div>

</main>