<main>

	<div class="grid-row no-bottom">
		<div class="column-full no-bottom">

			<nav class="nav-back" style="display:none" hidden>
				<a href="*" class="link-back">Back</a> 
			</nav>

			<div class="visualisation">
	
				<h1 class="heading-large">Long term flood risk for locations in England</h1>
			
				<div class="visualisation-device panel panel-border-narrow" aria-hidden="true">
					<p>
						A map is available with JavaScript enabled and a modern browser.
					</p>
				</div>

				<div class="visualisation-content" style="display:none" hidden>
			
					<figure class="map" id="map">
						<div class="map-container map-container-large">
							<div class="map-container-inner" id="map-container-inner">
								<div class="map-panel">
									<div class="map-panel-container">
										<div class="map-key-heading">
											<h2 class="bold-medium">Key</h2>
										</div>
										<div class="map-key-features">
											<ul class="key-features-section">
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="map-view" name="view-type" type="radio" value="map-view" checked>
														<label for="map-view">
															Map view
														</label>
													</div>
												</li>
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="satellite-view" name="view-type" type="radio" value="satellite-view">
														<label for="satellite-view">
															Satellite view
														</label>
													</div>
												</li>
											</ul>
											<ul class="key-features-section">
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="flood-zones" name="flood-zones" type="checkbox" value="flood-zones" checked="">
														<label for="flood-zones">Flood risk zones</label>
													</div>
													<ul class="key-features-item-group">
														<li>
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-zone3">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<rect x="0" y="0" width="100%" height="100%" fill="#464D95"></rect>
																	</svg>
																</span>
																Zone 3
															</span>
														</li>
														<li>
															<span class="key-features-item-label">                            
																<span class="key-symbol key-symbol-zone3-benefitting">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<defs>
																			<pattern id="hatch" width="5" height="5" patternTransform="rotate(45 0 0)" patternUnits="userSpaceOnUse">
																				<line x1="0" y1="0" x2="0" y2="10" style="stroke:#464D95; stroke-width:5"></line>
																			</pattern>
																		</defs>
																		<rect x="1" y="1" width="24" height="17" stroke="#464D95" stroke-width="2" fill="url(#hatch)"></rect>
																	</svg>
																</span>
																Zone 3 - Areas benefitting from flood defences
															</span>
														</li>
														<li>
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-zone2">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<rect x="0" y="0" width="100%" height="100%" fill="#ABD6FF"></rect>
																	</svg>
																</span>
																Zone 2
															</span>
														</li>
														<!--
														<li>
															<span class="key-feature-label"><span class="key-symbol key-symbol-zone1"></span>Zone 1</span>
														</li>
														-->
													</ul>
												</li>
											</ul>
											<ul class="key-features-section">
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="flood-defence" name="flood-defence" type="checkbox" value="flood-defence" checked="">
														<label for="flood-defence">
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-flood-defence">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<rect x="0" y="6" width="100%" height="7" fill="#F47738"></rect>
																	</svg>
																</span>
																Flood defence
															</span>
														</label>
													</div>
												</li>
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="main-river" name="main-river" type="checkbox" value="main-river" checked="">
														<label for="main-river">
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-main-river">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<rect x="0" y="6" width="100%" height="7" fill="#2B8CC4"></rect>
																	</svg>
																</span>
																Main river
															</span>
														</label>
													</div>
												</li>
												<li class="key-features-item">
													<div class="multiple-choice-key">
														<input id="flood-storage" name="flood-storage" type="checkbox" value="flood-storage" checked="">
														<label for="flood-storage">
															<span class="key-features-item-label">
																<span class="key-symbol key-symbol-flood-storage">
																	<svg width="100%" height="100%" viewBox="0 0 26 19" xmlns="http://www.w3.org/2000/svg">
																		<defs>
																			<pattern id="dots" x="0" y="0" width="7" height="7" patternUnits="userSpaceOnUse">
																				<circle cx="2.5" cy="2.5" r="2.5" style="stroke: none; fill: #2B8CC4"></circle>
																			</pattern>
																		</defs>
																		<rect x="0" y="0" width="100%" height="100%" fill="url(#dots)"></rect>
																	</svg>
																</span>
																Flood storage area
															</span>
														</label>
													</div>
												</li>
											</ul>
										</div>
										<div class="map-key-copyright">© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors</div>
									</div>
								</div>
							</div>
						</div>
						<figcaption class="map-caption visuallyhidden">Site boundary</figcaption>
					</figure>

				</div>
				
				<div class="form-group">
					<input id="scenario" name="scenario" type="hidden" value=""/>
					<input id="lonLat" name="lonLat" type="hidden" value="{{ model.lonLat }}"/>
					<input id="zoom" name="zoom" type="hidden" value="{{ model.zoom }}"/>
				</div>

				<p>Other ways to find long term flood risk information</p>

				<p>
					<strong class="bold-small">Environment Agency (National Customer Contact Centre)</strong></br>
					Telephone: 03708 506 506</br>
					Mon to Fri, 8am to 6pm</br>
					<a href="">Learn more about call charges</a>
				</p>
				
			</div>

		</div>
	
	</main>
	
{{#section 'bodyScripts' }}
<!-- Add before closing body tag -->
<script src="/public/javascripts/ol-v4.6.5.js"></script>
<script src="/public/javascripts/map.js"></script>

<script>

	Map.init({
		lonLat: JSON.parse('[' + document.getElementById('lonLat').value + ']'),
		zoom: document.getElementById('zoom').value,
		hasLocator: true,
		//hasKey: true,
		hasZoomReset: true,
		hasSearch: true,
		floodZonesJSON: '/public/data/flood-zones.json',
		zoom: 15
	})

</script>
<!-- end before closing body tag -->
{{/section }}